{% extends 'layouts.html' %} {% block title %} Forgetpassword page {% endblock %} {% block active %}active{% endblock %} {% block content %} {% load static %}

<div class="container p-4">
    <div class="col-lg-6 mx-auto border rounded shadow-lg p-4 mt-4 mb-4">
        <div>
            <div class="list-group">
                <h4 type="button" class="list-group-item text-center list-group-item-action active" aria-current="true">
                    Please Contact
                </h4>
                <li class="list-group-item list-group-item-light">Mail : admin@gmail.com</li>
                <li class="list-group-item list-group-item-secondary">Phone : 01724XXXXXX</li>
                <li class="list-group-item list-group-item-light">Telephone : 4589XXXX</li>
            </div>
        </div>
        <h5 class="text-center">-- or --</h5>
        <div class=" text-center mb-4">
            <a class="btn btn-outline-primary " href="{% url 'account' %}">Log in</a>
            <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
</div>

{%endblock%}